.custom-error{
	color:red;
}

label .custom-error{
	color:red;
}

label .is-invalid {
	color: #F64E60;
}

.custom-readonly{
	background-color: #F3F6F9 !important;
    opacity: 1 !important;
}

.table-responsive {
	min-height: 300px;
}

hr.all-owner{
	border-top: 1px dashed #ECF0F3;
	margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

@media (max-width: 700px) {
	.card-columns.custom-columns {
		column-count: 1;
	}
}
@media (min-width: 700px) {
	.card-columns.custom-columns {
		column-count: 2;
	}
}
@media (min-width: 1000px) {
	.card-columns.custom-columns {
		column-count: 3;
	}
}
@media (min-width: 1400px) {
	.card-columns.custom-columns {
		column-count: 4;
	}
}
